@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --animate-gradient: gradient 8s linear infinite;
  @keyframes gradient {
  to {
    background-position: var(--bg-size, 300%) 0;
    }
  }
}

:root {
  --background: oklch(0.9913 0.0013 286.3760);
  --foreground: oklch(0.2099 0.0341 263.4360);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2099 0.0341 263.4360);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2099 0.0341 263.4360);
  --primary: oklch(0.5854 0.2041 277.1173);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9665 0.0045 258.3247);
  --secondary-foreground: oklch(0.3695 0.0381 260.5001);
  --muted: oklch(0.9846 0.0017 247.8389);
  --muted-foreground: oklch(0.5444 0.0350 265.1137);
  --accent: oklch(0.9619 0.0179 272.3144);
  --accent-foreground: oklch(0.4568 0.2146 277.0229);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9271 0.0075 260.7315);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.5854 0.2041 277.1173);
  --chart-1: oklch(0.5854 0.2041 277.1173);
  --chart-2: oklch(0.6801 0.1583 276.9349);
  --chart-3: oklch(0.7853 0.1041 274.7134);
  --chart-4: oklch(0.8699 0.0622 274.0386);
  --chart-5: oklch(0.9299 0.0334 272.7879);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2099 0.0341 263.4360);
  --sidebar-primary: oklch(0.5854 0.2041 277.1173);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9846 0.0017 247.8389);
  --sidebar-accent-foreground: oklch(0.5854 0.2041 277.1173);
  --sidebar-border: oklch(0.9665 0.0045 258.3247);
  --sidebar-ring: oklch(0.5854 0.2041 277.1173);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.6rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 4px 12px -2px hsl(0 0% 0% / 0.05), 0px 1px 2px -3px hsl(0 0% 0% / 0.05);
  --shadow: 0px 4px 12px -2px hsl(0 0% 0% / 0.05), 0px 1px 2px -3px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 4px 12px -2px hsl(0 0% 0% / 0.05), 0px 2px 4px -3px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 4px 12px -2px hsl(0 0% 0% / 0.05), 0px 4px 6px -3px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.05), 0px 8px 10px -3px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.13);
  --tracking-normal: -0.011em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1695 0.0220 267.2784);
  --foreground: oklch(0.9846 0.0017 247.8389);
  --card: oklch(0.2101 0.0318 264.6645);
  --card-foreground: oklch(0.9846 0.0017 247.8389);
  --popover: oklch(0.2101 0.0318 264.6645);
  --popover-foreground: oklch(0.9846 0.0017 247.8389);
  --primary: oklch(0.6801 0.1583 276.9349);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2781 0.0296 256.8480);
  --secondary-foreground: oklch(0.9670 0.0029 264.5419);
  --muted: oklch(0.2781 0.0296 256.8480);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.3588 0.1354 278.6973);
  --accent-foreground: oklch(0.9299 0.0334 272.7879);
  --destructive: oklch(0.7106 0.1661 22.2162);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3729 0.0306 259.7328);
  --input: oklch(0.2101 0.0318 264.6645);
  --ring: oklch(0.6801 0.1583 276.9349);
  --chart-1: oklch(0.6801 0.1583 276.9349);
  --chart-2: oklch(0.5854 0.2041 277.1173);
  --chart-3: oklch(0.5106 0.2301 276.9656);
  --chart-4: oklch(0.4568 0.2146 277.0229);
  --chart-5: oklch(0.3984 0.1773 277.3662);
  --sidebar: oklch(0.1941 0.0362 266.1366);
  --sidebar-foreground: oklch(0.9846 0.0017 247.8389);
  --sidebar-primary: oklch(0.6801 0.1583 276.9349);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2781 0.0296 256.8480);
  --sidebar-accent-foreground: oklch(0.6801 0.1583 276.9349);
  --sidebar-border: oklch(0.2781 0.0296 256.8480);
  --sidebar-ring: oklch(0.6801 0.1583 276.9349);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.6rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 16px;
  --shadow-spread: -4px;
  --shadow-opacity: 0.3;
  --shadow-color: #000000;
  --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.15);
  --shadow-sm: 0px 8px 16px -4px hsl(0 0% 0% / 0.30), 0px 1px 2px -5px hsl(0 0% 0% / 0.30);
  --shadow: 0px 8px 16px -4px hsl(0 0% 0% / 0.30), 0px 1px 2px -5px hsl(0 0% 0% / 0.30);
  --shadow-md: 0px 8px 16px -4px hsl(0 0% 0% / 0.30), 0px 2px 4px -5px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0px 8px 16px -4px hsl(0 0% 0% / 0.30), 0px 4px 6px -5px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.30), 0px 8px 10px -5px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.75);
}

body {
  letter-spacing: var(--tracking-normal);
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}